body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto; /* Una sola barra de desplazamiento */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
}

.slide-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 100%;
    max-width: 1200px;
    height: 100vh; /* Cada diapositiva ocupa el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd; /* Añadir espacio definido entre diapositivas */
    box-shadow: 0 0 10px rgba(115, 114, 115, 0.1);
    margin: auto;
    overflow: hidden; /* Evita desbordamiento dentro de las diapositivas */
}

/* Estilo para imágenes */
.slide_img {
    max-width: 70%;
    max-height: 70vh;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para videos */
.slide_video {
    max-width: 50%;
    max-height: 50vh;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para iframes */
.slide_iframe {
    width: 100%;          /* Usar 100% en lugar de max-width */
    height: 100vh;         /* Ajustar la altura en porcentaje de la vista */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    border: none;         /* Asegúrate de que no haya borde alrededor del iframe */
    overflow: hidden;     /* Evita cualquier overflow innecesario */
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #5C4E95;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

.left-aligned-centered {
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0 auto; /* Centra el párrafo horizontalmente en su contenedor */
    max-width: 80%; /* Ajusta el ancho máximo para evitar que el texto se extienda demasiado */
}

.titulo-colorido {
    color: #5C4E95; /* Elige el color que prefieras (aquí es un color rojo anaranjado) */
    font-size: 1.5em;
}

.titulo-colorido2 {
    color: #5C4E95; /* Elige el color que prefieras (aquí es un color rojo anaranjado) */
    font-size: 1.1em;
}

figure {
    text-align: center; /* Centra el contenido de la figura */
    margin: 20px 0; /* Añade un margen arriba y abajo de la figura */
}

figcaption {
    font-size: 0.9em; /* Ajusta el tamaño de la fuente del título */
    color: #555; /* Cambia el color del texto del título */
    margin-top: 10px; /* Añade un espacio entre la imagen y el título */
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 600px;
    height: 220px;
    overflow: hidden;
    margin: 20px auto;
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-link {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s;
}

.card-link:hover {
    color: #004499;
    text-decoration: underline;
}

.card-subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-image {
    width: 150px;
    height: 100%;
    object-fit: cover;
}
